body {
    margin: 0;
    padding: 0;
    background-color: #C4F2AE;
    color: #fff;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.notelist-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.noteform-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


  
  .note-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #758C64;
    border-radius: 5px;
  }

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}

header {
    background-color: #758C64;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-title h1 {
    margin: 0;
}

.logo,
.left-image {
    max-height: 100%;
    max-width: 55px;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
}

button {
    background-color: #758C64;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    flex: 1;
    margin: 5px;
    font-size: 30px;
    width: auto;
    white-space: nowrap;
}

.create-note-button {
    font-size: 18px;
    padding: 8px 12px;
    margin-right: 10px;
    align-self: flex-start;
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 25px;
  }

.save-note-button {
    font-size: 18px;
    padding: 8px 12px;
    margin-right: 10px;
}

button:hover {
    background-color: #BAD6A5;
}

footer {
    background-color: #758C64;
    padding: 10px;
    display: flex;
    flex-shrink: 0;
}

.footer-left {
    flex: 1;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-right {
    flex: 1;
    text-align: right;
}